/* @font-face {
    font-family: 'Tanha';
    src: url('../fonts/Tanha.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tanha';
    src: url('../fonts/Tanha.woff');
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: 'Tanha';
    src: url('../fonts/Tanha.woff');
    font-weight: 300;
    font-style: normal;
}
