@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
}
body {
    direction: rtl;
    text-align: right;
    font-family: Sahel;
    font-size: 14px;

}
.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}
.post-meta {
    text-align: left;
}
.navbar-brand {
    font-size: 25px;
}

/* Navbar SubMenu */

.nav ul {
    padding-right: 0;
}
  
.nav ul li {
    border-bottom: none;
    height: 10x;
    line-height: 15px;
    font-size: 14px;
    display: inline-block;
    float:left;
    margin: 0 auto;
}
  
.nav ul li a {
    text-decoration: none;
    color:#000000;
    display: block;
    transition: .3s background-color;
    padding:0 24px;
}
  
.nav ul li a:hover {
    background-color: #2b292900;
    color:#242222de;
}
  
.nav a {
    border-bottom:none;
}
  
.nav li ul {
    position:absolute;
    display:none;
    width:inherit;
}
  
.nav li:hover ul {
    display:block;
}
  
.nav ul li ul li {
    display: block;
    float:none !important; /* newly added */
    height:auto; /* newly added */
    line-height:34px; /* newly added */
}
  
.nav ul li ul li ul {
    position: absolute;
    right: 100%;
    top: 0;
    display: none !important;
}
  
.nav ul > li > ul > li:hover > ul {
    display:block !important;
}
  
.nav ul > li > ul > li > ul > li:hover > ul {
    display:block !important;
}
  
aside {
    width: 240px;
    position: absolute;
    left: 240px;
}
  
.popular-article {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 20px;
    box-shadow: -4px 4px #ddd;
}