{% extends 'blog/base.html' %}

{% block title %} | {{object.Title}} {% endblock %}

{% block main %}
<!-- Page Header-->
<header class="masthead" style='background-image: url("{{ object.Thumbnail.url }}")'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ object.Title }}</h1>
                    {% if article.Is_special %} <span class="badge alert-danger" style="font-size: 15px ; border-radius: 5px ; " > ویژه </span> {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if object.Is_special == True %}
                    {% if user.is_authenticated and user.is_special_user or user == object.Author or user.is_superuser %}
                        {{ object.Description|safe }}
                    {% else %}
                        {{ article.Description | striptags | truncatewords:35 }}
                        <p class="alert alert-warning">
                            این مقاله ویژه است. برای مشاهده آن باید <a class="alert-warning" href="#">اشتراک ویژه</a> تهییه کنید.
                        </p>
                    {% endif %}
                {% else %}
                    {{ object.Description|safe }}   
                {% endif %}
                </p>
                <p class="post-meta">
                    نوشته شده توسط
                   <a href="{% url 'blog:author' object.Author %}">{{ object.Author.first_name}}</a>
                   {{ object.jpublish }}
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}