{% extends 'blog/base.html' %}

{% load ratings %}

{% load static %}

{% load base_tags %}

{% load humanize %}

{% block title %} | {% block title2 %}  {% endblock %} {% endblock %}

{% block main %}
<!-- Page Header-->
<header class="masthead" style='background-image: url("{% static "blog/assets/img/home-bg.jpg" %}")'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                        <h3>{% block header2 %}  {% endblock %}</h3>
                        <h1>{% block header %}  {% endblock %}</h1> 
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">    
        
        <aside>
            {% Popular_Article %}
            {% Hot_Article %}
        </aside>


            <!-- Children content -->
            {% for article in object_list %}
                <!-- Post preview-->
                <div class="post-preview">
                    <div><span>{% ratings article %}</span></div>
                    <a href="{% url 'blog:details' article.Slug %}">
                        <h2 class="post-title">{{ article.Title }} {% if article.Is_special %} <span class="badge alert-danger" style="font-size: 15px ; border-radius: 5px ; float: left;" > ویژه </span> {% endif %}</h2>
                        <h3 class="post-subtitle">{{ article.Description | striptags | truncatewords:35 }}</h3>
                    </a>
                    <p class="post-meta">
                        نوشته شده توسط
                        <a href="{% url 'blog:author' article.Author %}">{{ article.Author.first_name}}</a>
                        {{ article.Publish|naturaltime }}
                    </p>
                    <span>بازدید ها :{{ article.hits.count }}</span>
                    <div>
                        {% for cat in article.CategoryRE.actived %}
                            <a href="{% url 'blog:category' cat.Slug %}">#{{ cat.Title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />  
            {% empty %}
                <h4 style="padding: 8px ; margin-bottom: 45px;">متاسقانه محتوایی برای نمایش در این مورد وجود ندارد.</h4>
            {% endfor %}
            <!-- Pager-->
            {% if is_paginated %}
                <div class="d-flex justify-content-end mb-4">
                    <pre>
                    {% if page_obj.has_previous %}<a class="btn btn-primary text-uppercase" href="{% block pagination_previous_url %}  {% endblock %}">← پست های قبلی</a>{% endif %}   {% if page_obj.has_next %}<a class="btn btn-primary text-uppercase" href="{% block pagination_next_url %}  {% endblock %}">پست های جدید →</a>{% endif %}
                    </pre>
                </div>  
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}