{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %} افزودن مقاله {% endblock %}

{% block title-meta %} | افزودن مقاله {% endblock %}

{% block main %}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن مقاله</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ form.Title | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.Slug | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.Description | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.CategoryRE | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.Thumbnail | as_crispy_field }}
                        {{ form.Publish | as_crispy_field }}
                    </div>
                    {% if user.is_superuser %}
                        <div class="col-6">
                            {{ form.Author | as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.Status | as_crispy_field }}
                        </div>
                    {% endif %}
                </div>
                <button class="btn btn-success">ارسال مقاله</button> 
                {% if user.is_superuser and request.resolver_match.kwargs.pk %}
                    <a href="{% url 'account:article-delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">
                        حذف
                    </a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}