{% extends 'registration/base.html' %}

{% block title %} لیست مقالات {% endblock %}

{% block title-meta %} | لیست مقالات {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            {% if object_list %}
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>عنوان مقاله</th>
                                <th>آدرس مقاله</th>
                                <th>عکس</th>
                                <th>دسته بندی</th>
                                <th>نویسنده</th>
                                <th>تاریخ انتشار</th>
                                <th>خلاصه مقاله</th>
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for article in object_list %}
                                    <tr>
                                        <td>
                                            {% if article.Status in 'bd'|make_list or user.is_superuser %}
                                                <a href="{% url 'account:article-update' article.pk %}">{{ article.Title }}</a>
                                            {% else %}
                                                {{ article.Title }}
                                            {% endif %}
                                        </td>
                                        <td>{{ article.Slug }}</td>
                                        <td><img src="{{ article.Thumbnail.url }}" width="100" height="90" style="border-radius: 8px;"></td>
                                        <td>{{ article.Category_to_str }}</td>
                                        <td>{{ article.Author.get_full_name }}</td>
                                        <td>{{ article.jpublish }}</td>
                                        <td>{{ article.Description | striptags | truncatewords:"30" }}</td>
                                        <td>
                                            {% if article.Status == 'p' %}
                                                <span class="badge badge-success">منتشر شده</span>
                                                <a target="_blank" class="badge badge-primary" href="{% url 'blog:details' article.Slug %}">نمایش مقاله </a>
                                            {% elif article.Status == 'c' %} 
                                                <span class="badge" style="background-color: #0bf4ff;">در حال بررسی</span>
                                                {% if user.is_superuser %} 
                                                    <a target="_blank" class="badge badge-secondary" href="{% url 'blog:preview' article.pk %}">پیش نمایش مقاله</a>     
                                                {% endif %}                                          
                                            {% else %}
                                                {% if article.Status == 'd' %}
                                                    <span class="badge badge-danger">پیش نویس</span>
                                                    <a target="_blank" class="badge badge-secondary" href="{% url 'blog:preview' article.pk %}">پیش نمایش مقاله</a>
                                                {% else %}
                                                    <span class="badge badge-warning">برگشت داده شده</span>
                                                    <a target="_blank" class="badge badge-secondary" href="{% url 'blog:preview' article.pk %}">پیش نمایش مقاله</a>
                                                {% endif %}
                                            {% endif %}

                                            {% if user.is_superuser %}
                                                <a class="badge text-danger" href="{% url 'account:article-delete' article.pk %}"> حذف </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            {% else %}
                <h3>محتوایی برای نمایش وجود ندارد</h3>
            {% endif %}
            <!-- /.card -->
        </div>
    </div>
{% endblock %}