{% extends 'registration/base.html' %}

{% block title %} گذرواژه با موفقیت عوض شد.{% endblock %}

{% block title-meta %} | تغیر گذرواژه {% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">تغیر گذرواژه</h3>
        </div>
        <div class="card-body py-4">
            <form method="post">{% csrf_token %}
                <p class="py-2">گذرواژه شما با موفقیت عوض شد.</p>
                <button class="badge badge-success" style="font-size: 20px;" ><a  style="color: black;" href="{% url 'account:profile' %}">تایید</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}