{% extends 'registration/Lbase.html' %}
{% load widget_tweaks %}

{% block title %} تعویض گذرواژه{% endblock %}

{% block main %}
	<div class="limiter">
		{% if form.non_field_errors %}
			<div class="errors">
				{% for error in form.non_field_errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% endif %}
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">{% csrf_token %}
					<span class="login100-form-title p-b-26 myfont">
						تعویض گذرواژه
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-account"></i>
					</span>

                    {% if validlink %}
                        <div class="wrap-input100 validate-input">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
                            {{ form.new_password1|add_class:"input100" }}
                            <span class="focus-input100" data-placeholder="گذرواژه جدید"></span>
                        </div>

                        <div class="wrap-input100 validate-input">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
                            {{ form.new_password2|add_class:"input100" }}
                            <span class="focus-input100" data-placeholder="تایید گذرواژه"></span>
                        </div>
                
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn myfont">
                                    تایید
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <p class="myfont">لینک منقضی شده است.برای بازیابی گذرواژه خود <a style="color: red; font-weight: bold;" href="{% url 'password_reset' %}">اینجا کلیک کنید.</a></p>
                    {% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}